h1 {color: indigo;
}
h1 {font-size: 400%;
}
h1 {text-align: center;
}
#mario {width: 40%;
}
#mario {margin-left: 30%;
}

h2 {color: rgb(0, 0, 0);
}
h2 {font-size: 400%;
}
h2 {text-align: center;
}

#cart {margin-left: 50%;
}
#cart {width: 30%;
}

h3 {color: chartreuse;
}
h3 {font-size: 400%;
}
h3 {text-align: center;
}
#luigi {margin-left: 20%;
}
#luigi {width: 30%;
}
h2 {color: midnightblue;
}

#luigi1 {margin-left: 25;
}
#luigi1 {width: 30%;
}

h2 {color: red;
}

